<div class="intro">
  <p>
    Experiment with sharding and replication changes for this table.
  </p>
  <p>
    When you're satisfied, click "Apply configuration" to enact the changes.
  </p>
  <p>
    <strong>Note:</strong> Changes to shards will cause the table to
    become unavailable while backfilling occurs.
  </p>
  <form class="reconfigure-form">
    <div>
      <input class="shards inline-edit"
             value="{{num_shards}}"></input>
      <span class="caption">shards</span>
      <div class="max caption">
        max: {{max_shards}}
      </div>
    </div>
    <div>
      <input class="replicas inline-edit"
             value="{{num_replicas_per_shard}}"></input>
      <span class="caption">replicas per shard</span>
      <div class="max caption">
        max: {{max_replicas_per_shard}}
      </div>
    </div>
    <button class="apply btn-primary btn">Apply configuration</button>
  </form>
</div>
<div class="alert alert-error error"></div>
<div class='reconfigure-diff tree-view'></div>
<div class="legend">
  <span><img src="images/server-icon-added.png"/> Server added</span>
  <span><img src="images/server-icon-removed.png"/> Server removed</span>
  <span><img src="images/server-icon.png"/> Server unchanged</span>
</div>
